<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">SW Admin Panel</mat-toolbar>

    <mat-nav-list role="navigation">
      <mat-list-item *ngFor="let item of items" role="listitem">
        <a mat-list-item routerLink="{{ item.path }}" routerLinkActive="active">
          <mat-icon class="sidenav-icon" mat-list-icon>{{
            item.icon
          }}</mat-icon>
          {{ item.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
